@model Travels.Models.EF.Blog
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Blog</h4>
                @using (Html.BeginForm("edit", "place", FormMethod.Post, new { @class = "forms-sample", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x=>x.BlogId)
                    <!-- your steps content here -->
                    <div class="form-group">
                        <label>Place name</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Place name" })
                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Description"  })
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        @Html.TextAreaFor(x => x.Detail, new { @class = "form-control" , @id = "txtDetail"})
                    </div>
                    <div class="form-group">

                        <label>File upload</label>
                        <input type="file" name="fileImage" class="file-upload-default" id="ChooseImg">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div>

                        <img id="PrevImg" src="https://placehold.jp/200x150.png" style="width:200px;height:150px; border:1px solid red; border-radius:10px;padding:10px;margin-top:10px" />

                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a href="/admin/blog" class="btn btn-light">Back</a>
                }

            </div>
        </div>
    </div>
</div>


@section  scripts{
    <script src="/AdminTemplate/js/file-upload.js"></script>
    <script src="~/js/jImagePreview.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#txtDetail',
            height: 300,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
                'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
                'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
        });
    </script>
}